# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# dotenv environment variables file
.env
.env.*.local

# Build output
build/

# VSCode
.vscode/
.history/

.vercel
